<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>企业人事管理系统</title>
  <link rel="stylesheet" href="layui/css/layui.css">
  <link rel="shortcut icon" href="../resources/favicon.ico" th:href="@{/static/favicon.ico}"/>
</head>
<body>
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo layui-hide-xs layui-bg-black">企业人事管理系统</div>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item layui-hide layui-show-md-inline-block">
        <a href="">
          <img src="/imgs/头像.png" class="layui-nav-img"/>
          张骏
        </a>
      </li>
      <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
        <a href="javascript:;">
          <i class="layui-icon layui-icon-more-vertical"></i>
        </a>
      </li>
    </ul>
  </div>

  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree" lay-filter="test">
        <li class="layui-nav-item"><a href="personnalCenter.html">个人中心</a></li>
        <li class="layui-nav-item"><a href="attendance.html">考勤打卡</a></li>
        <li class="layui-nav-item"><a href="salary.html">工资查询</a></li>
        <li class="layui-nav-item"><a href="reward.html">绩效查询</a></li>
        <li class="layui-nav-item"><a href="addEmployee.html">新增员工</a></li>
      </ul>
    </div>
  </div>

  <div class="layui-body">
    <table class="layui-hide" id="test" lay-filter="test"></table>
  </div>
</div>

<script type="text/javascript" src="js/jquery-3.5.1.js"></script>
<script src="layui/layui.js" charset="utf-8"></script>
<script type="text/html" id="toolbarDemo">
  <form class="layui-form">
    <label class="layui-form-label">姓名</label>
    <div class="layui-input-inline">
      <input type="text" id="find" lay-verify="required" placeholder="请输入员工姓名" autocomplete="true" class="layui-input">
    </div>
    <button class="layui-btn layui-btn-normal lay-submit" lay-event="find" id="findbtn">查询</button>
  </form>
</script>
<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
  layui.use(['table', 'form'], function(){
    var table = layui.table;
    table.render({
      elem: '#test'
      ,url:'/list'
      ,toolbar: '#toolbarDemo'
      ,title: '用户数据表'
      ,totalRow: true
      ,left: 200
      ,cols: [
        [
          {type: 'checkbox', fixed: 'left'}
          ,{field:'id', title:'ID', width:'3%', fixed: 'left', unresize: true, sort: true, totalRowText: '合计'}
          ,{field:'name', title:'姓名', width:'7%', edit: 'text'}
          ,{field:'phone', title:'电话', width:'10%', edit: 'text'}
          ,{field:'email', title:'邮箱', width:'15%', edit: 'text', templet: function(res){
            return '<em>'+ res.email +'</em>'
          }}
          ,{field:'department', title:'部门', width:'7%'}
          ,{field:'level', title:'职位', width:'10%'}
          ,{field:'username', title:'用户名', width:'10%'}
          ,{field:'age', title:'年龄', width:'7%', sort: true}
          ,{field:'sex', title:'性别', width:'7%'}
          ,{field:'status', title:'状态', width:'7%'}
          ,{fixed: 'right', title:'操作', toolbar: '#barDemo'}
        ]
      ]
      ,page: true
      ,id: 'list'
    });

    //工具栏事件
    table.on('toolbar(test)', function(obj){
      switch (obj.event) {
        case 'find':
          table.reload('list',{
            url: '/find/'+$("#find").val(),
            where:{
              key: 'name',
              name: $("#find").val(),
            },
            page:{
              curr: 1
            }
          });
          break;
      };
    });

    //监听工具条
    table.on('tool(test)', function(obj){
      var data = obj.data;
      if(obj.event === 'del'){
        layer.confirm('真的删除行么', function(index){
          obj.del();
          layer.close(index);
          $.ajax({
            url: '/delete/'+obj.data.id,
            type: 'DELETE',
            data: JSON.stringify(obj.data),
            dataType: 'json',
            contentType: 'application/json'
          })
          layer.msg("删除成功");
        });
      } else if(obj.event === 'edit'){
        $.ajax({
          url: '/updateEmployee',
          type: 'POST',
          data: JSON.stringify(obj.data),
          dataType: 'json',
          contentType: 'application/json'
        })
        layer.msg("修改成功");
      }
    });
  });

</script>
<script>
  //JS
  layui.use(['element', 'layer', 'util'], function(){
    var element = layui.element
            ,layer = layui.layer
            ,util = layui.util
            ,$ = layui.$;

    //头部事件
    util.event('lay-header-event', {
      //左侧菜单事件
      menuLeft: function(othis){
        layer.msg('展开左侧菜单的操作', {icon: 0});
      }
      ,menuRight: function(){
        layer.open({
          type: 1
          ,content: '<div style="padding: 15px;">看起来高级的模板——by022020114张骏</div>'
          ,area: ['260px', '100%']
          ,offset: 'rt' //右上角
          ,anim: 5
          ,shadeClose: true
        });
      }
    });

  });
</script>
</body>
</html>